/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* screen width header */
#header{
    width: 100%;
    height: 75px;
    background-color: darkgray;
}

  /* self-centering div */
#container {
width: 80%;
height: 800px;
margin: 0 auto;
background-color: lightgrey;
display: flex;
}

#btnSearch{
    margin: 10px;
    background-color: white;
    border: 2px solid darkturquoise;
    border-radius: 10px;
    font-weight: bold;
    color:darkturquoise;
    width: 125px;
}

#btnAdd{
    margin: 10px;
    background-color: darkturquoise;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 120%;
}

.border, .roundedCornerBorder{
    border: 3px solid black;
}

.roundedCornerBorder{
    border-radius: 10px;
}

.row{
    display: flex;

}

.col{
    min-height: 200px;
    border: 1px solid;
    flex:1;
    background-color: rgb(29, 27, 105);
}

.nav{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: #444444;
    padding: 5px 10px;
}

.nav-title{
    color: white;
}

.nav-links{
    display: flex;
    list-style: none;


}

.nav-links a{
    text-decoration: none;
    color: lightgray;
}

.nav-links li{
    margin: 10px;
}
