*{
    font-family: cursive;
    margin: 0px;
    padding: 0px;
}


.nav, .main, .defSideBar, .wrapper, .col-2{
    display:flex;
}

.nav, .main, .col-2{
    align-items: center;
}

.nav, .defSideBar{
    justify-content: space-between;
}

.container{
    min-width: 800px;
    max-width: 1000px;
    margin: 0px auto;
}

.nav{
    height: 75px;
    background-color: #CCCCCC;
    padding: 0px 20px;
}

.nav h1{
    margin: 0px;
    font-size: 2.5em;
}

.main{
    flex-direction: row;
}

.defSideBar{
    flex-direction: column;
    min-height: 100%;
}
.nameInfo{
    text-align: center;
}

.border, .btnBorderShadow, .like, #btnAccount, #btnAddDef{
    border: 4px solid black;
    border-radius: 5px;
}

.btnBorderShadow, .like, #btnAccount, #btnAddDef{
    box-shadow: 4px 4px black;
    vertical-align: middle;
}

.like{
    background-color: #FBD85C;
    font-size: 1.25em;
    padding: 5px;
    width: 100%;
}

#btnAddDef{
    width: 100%;
    height: 60px;
    background-color: #98C47A;
    font-size: 1.5em;
}

#btnAccount{
    width:fit-content;
    min-width: 60px;
    height: 30px;
    background-color:dodgerblue;
    color: white;
}

.wrapper{
    flex-direction: row;
}

.col{
    flex:2;
    margin: 20px 10px 20px 0px;
    padding: 30px;
}

.col-2{
    flex:1;
    flex-direction: column;
    justify-content: space-around;
    min-height: 250px;
    margin: 20px 0px 20px 10px;
    padding: 30px;
}

.word{
    font-size: 3em;
}

.speechPart{
    font-size: 1.5em;
}

.plural{
    font-size: 1em;
}