*{
    font-family: cursive;
    margin: 0;
    padding: 0;
}

.card{
    border: 1px solid gray;
    width: 450px;
    height: 250px;
    margin: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.cardHeader{
    height: 70px;
    width: 100%;
    background-color: turquoise;
    margin: 0px;
}

.cardBody{
    padding: 15px 20px 0px;
}

img#profilePhoto{
    width: 66px;
    height: 66px;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0px 2px 2px -1px black;
    position: relative;
    top: 35px;
    left: 20px;
}

.cardData > .location, .edit{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.location, .edit{
    align-items: center;
}

img#mapMarker{
    height: 15px;
    margin:  5px 5px 5px 0px;
}

img#gearIcon{
    height: 15px;
    margin:  5px 5px 5px 0px;
}