@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

body{
    background-color: #F3F2EF;
}

p{
    font-size: .9em;
}

#header{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

#nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-title{
    color: #5F6163;
    margin-left: 5px;
    display: flex;
    align-items: inherit;
}

.nav-links{
    display: flex;
    list-style: none;
    align-items: inherit;
}

.nav-links a{
    text-decoration: none;
    color: #5F6163;
}

.nav-links li{
    margin: 10px;
}

#content{
    max-width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

#main{
    margin-top: 50px;
    width: 66%;
}

#sideBar{
    margin-top: 50px;
    background-color: lightgray;
    width: 30%;
}

#requests{
    width: 100%;
    height: 300px;
    background-color: bisque;
    margin-bottom: 25px;
}

#connections{
    width: 100%;
    height: 300px;
    background-color: bisque;
}

#profileCard{
    width: 100%;
    min-height: 250px;
    margin-bottom: 25px;
}

#education{
    width: 100%;
    height: 300px;
    background-color: bisque;
}


.profileCardHeader{
    height: 150px;
    width:auto;
    background-image:url(./Assets/Backgrounds/Play_Arena_Combat_code.png);
    background-size: 104%;
    background-position: bottom;
}

.cardBody{
    background-color: white;
    width:auto;
    padding: 5em 2em 1em;
}

img#profilePhoto{
    width: 120px;
    height: 120px;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0px 2px 2px -1px black;
    position: relative;
    top: 5em;
    left: 2em;
}

.flexWrapCenter{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.rowSpacer{
    margin-top: 5px;
    margin-bottom: 5px;
}

.bodyTextSpacer{
    margin-top: 20px;
    margin-bottom: 20px;
}

img.icon{
    height: 12px;
    margin:  5px 5px 5px 0px;
}

.threeQuarterBoxBorderTop{
    border-right: 0.1em solid #E0DFDC;
    border-left: 0.1em solid #E0DFDC;
    border-top: 0.1em solid #E0DFDC;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.threeQuarterBoxBorderBottom{
    border-right: 0.1em solid #E0DFDC;
    border-left: 0.1em solid #E0DFDC;
    border-bottom: 0.1em solid #E0DFDC;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.emptyButton{
    padding: .25em .5em;
    color: #2D7AE4;
}

.editLink{
    font-size: .8em;
}

