@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #191919;
}

.cardHeader h3{
    color: #666666;
}

body{
    background-color: #F3F2EF;
}

p{
    font-size: .9em;
}

#header{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

#nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-title{
    color: #5F6163;
    margin-left: 5px;
    display: flex;
    align-items: inherit;
}

.nav-links{
    display: flex;
    list-style: none;
    align-items: inherit;
}

.nav-links a{
    text-decoration: none;
    color: #5F6163;
}

.nav-links li{
    margin: 10px;
}

#content{
    max-width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

#main{
    margin-top: 50px;
    width: 66%;
}

#sideBar{
    margin-top: 50px;
    width: 30%;
}

#requests{
    width: 100%;
    height: 300px;
    background-color: bisque;
    margin-bottom: 25px;
}

#connections{
    width: 100%;
    height: 300px;
    background-color: bisque;
}

.card{
    width: 100%;
    min-height: 75px;
    margin-bottom: 25px;
    background-color: white;
}



.profileCardHeader{
    height: 150px;
    width:auto;
    background-image:url(./Assets/Backgrounds/Play_Arena_Combat_code.png);
    background-size: 104%;
    background-position: bottom;
}

.profileCardBody{
    background-color: white;
    width:auto;
    padding: 3em 3em 1em;
}

.cardHeader{
    width:auto;
    display:flex;
    align-items: center;
    padding: 1.5em 2em 1em;
    justify-content: space-between;
}

.cardBody{
    background-color: white;
    width:auto;
    padding: 0em 3em 1em;
}

img#profilePhoto{
    width: 120px;
    height: 120px;
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 0px 2px 2px -1px black;
    position: relative;
    top: 5em;
    left: 2em;
}

.flexWrapCenter{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    align-items: center;
}

.rowSpacer{
    margin-top: 5px;
    margin-bottom: 5px;
}

.bodyTextSpacer{
    margin-top: 20px;
    margin-bottom: 20px;
}

img.icon{
    height: 12px;
    margin:  5px 5px 5px 0px;
}

.iconOnly{
    background: none;
    border: none;
}

.emptyButton{
    padding: .25em 2.5em;
    color: #2D7AE4;
    background-color: white;
    border: 1px solid #2D7AE4;
    border-radius: 12%/50%;
    font-family: inherit;

}

.flexRev{
    flex-direction: row-reverse;
}

.boxBorder{
    border: 0.1em solid #E0DFDC;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    overflow: hidden;
}

.fa-pencil{
    color: #3f7be7;
    font-size: .8em;
}

.title{
    font-size: 1em;
    color: #191919;
    font-weight:bold;
}
.subtitle{
    font-size: .9em;
    color: #191919;
}

.description{
    font-size: .8em;
    color: #191919;
    margin: 1em 0em 3em;
}

.description p{
    font-size: inherit;
}

.description ul{
    font-size: inherit;
    color: #191919;
    list-style:"- ";
    list-style-position: inside;
    margin-left: 1em;
    margin-top: 0em;
}

.spaceBetween{
    width:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.profilePhotoSmall{
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0px 1px 2px -1px black;
    margin-left: -1.5em;
    margin-right: 1.5em;
}

.fa-check{
    margin: 0.5em;
    color: rgb(101, 167, 101);
}
.fa-x{
    margin: 0.5em;
    margin-right: -1.5em;
    color: red;
}